# Label Events
split into turnover/free throw/side/under basket

## Import Functions

In [1]:
import sys
from pathlib import Path
import pandas as pd

ROOT = Path.cwd().parent
sys.path.append(str(ROOT))

from src.data_io.save_load import load_json, save_json
from src.pipelines.label_events import build_labeled_tracking_events

## Import Data

In [2]:
# Load raw SportVU game JSON
game = load_json(ROOT / "data" / "raw" / "json" / "0021500622.json")
# Load play-by-play
pbp = pd.read_csv(ROOT / "data" / "raw" /"2015-16_pbp.csv")

## Run Pipeline

In [3]:
tracking_events, pbp_aligned = build_labeled_tracking_events(
    game, pbp,
    span_pad=2.0,
    max_center_diff=10.0
)

## Sanity Check

In [4]:
pd.Series([e.get("start_type") for e in tracking_events]).value_counts(dropna=False)
pbp_aligned[["EVENTNUM","EVENTMSGTYPE","PCTIMESTRING","restart_trigger","event_list_idx","align_center_diff"]].head(25)

,EVENTNUM,EVENTMSGTYPE,PCTIMESTRING,restart_trigger,event_list_idx,align_center_diff
0,0,12,12:00,None,0,None
1,1,10,12:00,None,0,None
2,2,1,11:43,None,0,None
3,3,1,11:16,made_basket,0,None
4,4,1,11:03,made_basket,0,None
5,5,2,10:40,made_basket,0,None
6,6,4,10:39,None,0,None
7,7,1,10:28,None,0,None
8,8,2,10:17,made_basket,1,0.085
9,9,4,10:17,None,1,0.085
10,10,1,10:10,None,1,6.915
11,11,9,10:10,made_basket,1,6.915
12,15,5,9:54,None,1,None
13,16,1,9:49,turnover,1,None
14,17,2,9:33,made_basket,1,None
15,18,4,9:32,None,1,None
16,19,2,9:22,None,2,None
17,20,4,9:20,None,2,None
18,21,1,9:02,None,2,None
19,22,6,8:51,made_basket,2,2.85
20,23,3,8:51,None,2,2.85
21,24,4,8:51,None,2,2.85
22,25,3,8:51,None,2,2.85
23,27,4,8:50,missed_free_throw,2,1.85
24,28,2,8:36,None,3,3.89

## Save Code

In [5]:
out = ROOT / "data/processed/0021500622_labeled.json"
save_json(out, tracking_events)